<!-- <p>gallery works!</p> -->
<!-- <div class="h1">
</div> -->
<app-header></app-header>
<h1>Travelling Gallery</h1>

<div class="slider-frame">
    <div class="slide-images">
            <div class="img-container">
                <img src="https://images.pexels.com/photos/14520365/pexels-photo-14520365.jpeg?auto=compress&cs=tinysrgb&w=600">
            </div>
            <div class="img-container">
                <img src="https://i.postimg.cc/NGnJBMqZ/travel-1.jpg">
            </div>
            <div class="img-container">
                <img src="https://i.postimg.cc/nLVgMPdW/travel-2.jpg">
            </div>
            <div class="img-container">
                <img src="https://i.postimg.cc/6qCYMrjR/travel-3.jpg">
            </div>
            <div class="img-container">
                <img src="https://i.postimg.cc/nL64NsQ1/travel-4.jpg">
            </div>

    </div>
</div>


<section class="users-feedback">
    <!-- <h1>Users Review</h1> -->
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="user-review">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto placeat nesciunt enim molestiae officiis, aut qui magni sapiente alias debitis hic architecto. Voluptates repellendus esse eos sit minima optio maiores.</p>
                    <h5>Pravel Sharma</h5>
                    <small>Singapore</small>
                </div>
                <img src="../../assets/images/user1.jpg" alt="">
            </div>
            <div class="col-md-4">
                <div class="user-review">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto placeat nesciunt enim molestiae officiis, aut qui magni sapiente alias debitis hic architecto. Voluptates repellendus esse eos sit minima optio maiores.</p>
                    <h5>John</h5>
                    <small>India</small>
                </div>
                <img src="../../assets/images/user2.jpg" alt="">
            </div>

            <div class="col-md-4">
                <div class="user-review">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto placeat nesciunt enim molestiae officiis, aut qui magni sapiente alias debitis hic architecto. Voluptates repellendus esse eos sit minima optio maiores.</p>
                    <h5>Alice</h5>
                    <small>Maldives</small>
                </div>
                <img src="../../assets/images/user3.jpg" alt="">

            </div>
        </div>
    </div>
    </section>
    <app-footer></app-footer>


