<section class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="../../assets/images/triptok.png" alt="" class="footer-logo">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas inventore pariatur, atque vero laudantium aut dignissimos cum repellendus laborum velit tempora, unde quo quibusdam harum molestiae assumenda, sed quos debitis.</p>
            </div>
            <div class="col-md-3">
                <h4>Features</h4>
                <p>Deals & Offers</p>
                <p>Customer Review</p>
                <p>Cancelation Policy</p>
            </div>
            <div class="col-md-3">
                <h4>Quick Contact</h4>
                <p><i class="fa fa-phone-square"></i>+1 0234567829</p>
                <p><i class="fa fa-envelope"></i>hello@triptok.com</p>
                <p><i class="fa fa-home"></i>xyz Road, ABC City</p>
            </div>
            <div class="col-md-3">
                <h4>Follow Us On</h4>
                <p><i class="fa-brands fa-facebook"></i> Facebook</p>
                <p><i class="fa-brands fa-youtube"></i> YouTube</p>
                <p><i class="fa-brands fa-twitter"></i> Twitter</p>
            </div>
        </div>
        <hr>
    </div>
</section>

