<!-- <div class="allcontainer" style="position: relative;"> -->
    <header class="bg-dark py-5">
        <div class="container px-5 ">
            <div class="row gx-5 align-items-center justify-content-center">
                <div class="col-lg-8 col-xl-7 col-xxl-6">
                    <div class="my-5 text-center text-xl-start">
                        <h1 class="display-5 fw-bolder text-white mb-2">Title: {{destination.title}} </h1>
                        <p class="lead fw-normal text-white-50 mb-4" style="font-size: 15px;">Description: {{destination.description}}</p>
                        <p class="lead fw-normal text-white-50 mb-4">Location: {{destination.location}} </p>
                        <p class="lead fw-normal text-white-50 mb-4">Day: {{destination.day}}</p>
                        <p class="lead fw-normal text-white-50 mb-4">Night: {{destination.night}} </p>
                        <p class="lead fw-normal text-white-50 mb-4">Amount: {{destination.price}} </p>


                        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                            <!-- <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Get Started</a> -->
                            <!-- <a class="btn btn-outline-light btn-lg px-4" href="#!">Learn More</a> -->
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-xxl-4 d-none d-xl-block text-center border p-1 bg-light"><img class="img-fluid rounded-3 my-5 " [src]="destination.image" alt="..." />  <div class="booknow-btn"><button data-bs-toggle="modal" data-bs-target="#exampleModal"  >Book Now</button></div></div>
               
            </div>
    </div>



    <!-- Modal -->
    <form [formGroup]="booknowForm">
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Book Now</h5> 
          <!-- <b>Grand Total:{{grand}}</b> -->

          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h1>Booking Address</h1>
                <input  name="name" formControlName="name"  type="text" placeholder="Enter your name" class="form-control mb-2" >
                      <div *ngIf="this.booknowForm.get('name')?.errors && this.booknowForm.get('name')?.touched" style="color: red;">Invalid name</div>

                <input name="phone" formControlName="phone"  type="text" placeholder="Contact no" class="form-control mb-2" >
                      <div *ngIf="this.booknowForm.get('phone')?.errors && this.booknowForm.get('phone')?.touched" style="color: red;">Invalid contact no</div>

                <input name="destination" formControlName="destination"  type="text" placeholder="Destination" class="form-control mb-2" >
                      <div *ngIf="this.booknowForm.get('destination')?.errors && this.booknowForm.get('destination')?.touched" style="color: red;">Invalid destination</div>

                <input name="totaladults" formControlName="totaladults"  type="text" placeholder="Total adults" class="form-control mb-2" >
                      <div *ngIf="this.booknowForm.get('totaladults')?.errors && this.booknowForm.get('totaladults')?.touched" style="color: red;">Invalid adults</div>

                <input name="children" formControlName="children"  type="text" placeholder="Total children" class="form-control mb-2" >
                      <div *ngIf="this.booknowForm.get('children')?.errors && this.booknowForm.get('children')?.touched" style="color: red;">Invalid children</div>

                <input name="days" formControlName="days"  type="text" placeholder="Number of days" class="form-control mb-2" >
                      <div *ngIf="this.booknowForm.get('days')?.errors && this.booknowForm.get('days')?.touched" style="color: red;">Invalid days</div>

        </div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="bookNow(destination)" >Booked</button>
  </div>
      </div>
    </div>
</div>
</form>